---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Contexto from '../components/Contexto.astro';
import Pilares from '../components/Pilares.astro';
import Galeria from '../components/Galeria.astro';
import LocationMap from '../components/LocationMap.astro';
import WhatsAppWidget from '../components/WhatsAppWidget.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Navbar />
  
  <main>
    <Hero />
    <Contexto />
    <Pilares />
    <Galeria />
    <LocationMap />
  </main>
  
  <WhatsAppWidget />
  <Footer />
</Layout>
